.vscode/**
!c_cpp_properties.json
!launch.json
!tasks.json

# include ACL in repo (we remove ignore)
# ac-library/**

# AtCoder のログインセッション。PC のローカルにだけ置き、リポジトリには入れない
cookie.json
cookie.jar
session.json

*.in
*.out

# TeX intermediate files
*.aux
*.dvi
*.fdb_latexmk
*.fls
*.log
*.nav
*.snm
*.toc
*.vrb
