.vscode/**
!c_cpp_properties.json
!launch.json
!tasks.json

# include ACL in repo (we remove ignore)
# ac-library/**

*.in
*.out

# TeX intermediate files
*.aux
*.dvi
*.fdb_latexmk
*.fls
*.log
*.nav
*.snm
*.toc
*.vrb
